.header {
    background-image: url(images/banner.webp);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    text-align: left;
    line-height: 50px;
}

.headerLink {
    color: black;
    text-decoration: none;
    font-family: "Century Gothic";
    padding-left: 20px;
    font-weight: normal;
}

.menu {
    position: absolute;
    top: 100px;
    left: 0;
    text-align: left;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid rgba(211,211,211,0.5);
    line-height: 25px;
}

.tab {
    color: black;
    text-decoration: none;
    font-family: "Century Gothic";
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
}

.sectionHeader {
    font-family: Verdana, Arial;
    font-weight: normal;
}

.content { 
    position: absolute;
    top: 125px;
    left: 0;
    text-align: center;
    width: 100%;
    overflow: auto;
}

.paragraph {
    font-size: large;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 150%;
}

.report {
    text-align: center;
    margin: auto;
    width: 25%;
    height: 70px;
    outline: 2px solid lightgray;
    line-height: 10px;
}

.reportLink {
    color: white;
    text-decoration: none;
    font-family: Verdana, Arial;
    font-weight: normal;
    display: block;
    padding-top: 25px;
}

.postDate {
    color: grey;
    font-size: small;
    line-height: 0%;
}

footer {
    background-color: black;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

/*.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

  .siteFooter {
    background-color: #87cefa;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

  }*/

